
/*CONTACTO PONER EN OTRO ARCHIVO CSS*/

.contacto{
    margin-bottom: 50px;
}

.whatsapp{
    text-decoration: none;
    color: black;
}

.whatsapp:hover{
    color: rgba(0, 0, 0, 0.692);
    text-decoration: none;
}

.banner img{
    width: 100%;
}

.sombra{
    box-shadow: 0px -4px 3px #E6E6E6;
}