/*CARROUSELL HEADER*/

.containerSlider{
    margin: 0px 0px 0px;
}


.bx-wrapper{
    width: 100%;
    height: 300px;
    border: none;
}

.bx-wrapper img{
    height: 300px;
}



/*Index bajo banner*/

.kari{
    width: 95%;
    box-shadow: 10px 5px 5px #D1D1D1;
}

.titulo{
    font-size: 26px;
    margin-bottom: 50px;
}

#tituloBody{
    color: rgb(144,128,97);
}

#tituloBody:hover{
    color: rgb(119, 105, 76);
    transition: 400ms;
}


