/* .banner img{
    width: 100%;
}

.banner div{
    position: absolute;

} */


/*  prueba de texto en la foto */
.header{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

#imagenHeader{
    width: 100%;
}

.tituloHeader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* TITULO DEL BODY */
#titulo{
    text-decoration-line: underline;
    color: rgb(119, 105, 76)
}



/* LISTA DE CURSOS HECHOS */

#cursos{
    list-style: none;
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px; 
    border-radius: 1px;
}

#cursos:hover{
    transition: 400ms;
    background-color: rgba(219, 219, 219, 0.822);
}

#cursos li{
    margin-top: 3px;
    margin-bottom: 7px;
}