/*Parametros iniciales del Body*/
body{
    padding: 0%;
    margin: 0%;
    background-color: #eeeeee;
}

.font{
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.fontItalica{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
    color: rgb(34, 32, 32);
}

.fontTitulo{
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

/* Barra de navegacion */
/* LOGO Y TITULO */

.navbar{
    background-color: #FFFFFF;
    padding-bottom: 4px;
    padding-top: 4px;
}

.container-fluid{
    width: 100px;
    margin-left: 3px;
    padding-left: 10px;
}

.navbar-brand{
    font-family: Helvetica, Arial;
    font-size: 24px;
}

.navbar-brand a{
    color: rgb(119, 105, 76)
}

.navbar-brand:hover{
    transition: 400ms;
    color: rgb(119, 105, 76);
}


/* LINKS */

.links ul{
    display: block;
    text-align: right;
}

.nav{
    font-family: Helvetica, Arial;
}

.nav-item{
    margin-left: 8px;
    margin-right: 10px;
}

.nav-item a{
    color: #455a64;
    text-decoration: none;
    font-family: Helvetica, Arial;
}

.nav-item a:hover{
    transition: 200ms;
    color: black;
    font-variant: initial;
}

.dropdown-menu{
    padding-left: 10px;
}

.dropdown-menu a:hover{
    transition: 400ms;
    font-style: italic;
    color: black;   
    text-decoration-line: none;
}



/*Centrado y Expacios default (Estas lineas de codigo tienen que ir en todos los css)*/

.centrado{
    text-align: center;
}

.espacios{
    padding-top: 100px;
    padding-bottom: 100px;
}

.espaciop{
    margin-bottom: 50px;
}

.left{
    text-align:left;
}

.sombra{
    box-shadow: 0px -4px 3px #E6E6E6;
}



/*Footer / Pie de pagina*/

footer{
    background: rgb(119, 105, 76);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(119, 105, 76), rgb(124, 95, 37));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(119, 105, 76), rgb(107, 78, 18)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    margin-bottom: 0px;
}

.logoinsta{
    width: 100px;

}

.logoyoutube{
    width: 120px;
}

.redes{
    padding-top: 30px;
    text-align: center;
}

.derechos{
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
}

.TituloNav{
    display: inline-block;
    padding: 10px;
    color: rgb(144,128,97);
}

.TituloNav:hover{
    color: rgb(119, 105, 76);
}

.press{
    background-color:#eeeeee;
}



/*COLOR DE LETRA DE NAV*/

.nav-item a{
    color: rgb(144, 128, 97);
}

.nav-item a:hover{
    color: rgb(109, 90, 52);
}






