@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.blog__container {
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
}

.article {
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  padding: 2px 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 2px 2px rgb(160, 157, 157);
}
