body{
    margin: 0px 0px;
}

/* NAVBAR */

.navbar-div{
    height: 80px;
    background-color: #cf6257;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
}

.navbar-options-div{
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.navbar-option-rectangle{
    border: 0px 0px;
    height: 8px;
    width: 45px;
    background-color: #e4e7e8;
}

/* header */

.header-div{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e4e7e8;

}

.header-title{
    align-self: center;
    margin: 35px;
    color:#53585a
}

.header-image-div{
    width: auto;
    align-items: center;
}

/*  */